* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    background-color: white;
}

.navbar-brand > i:nth-child(1) {
    margin-left: 15px;
    font-size: 20px;
}
button[type='submit'] > i {
    border-radius: 50%;
    font-size: 20px;
}

input[type='search'] {
    border-top-left-radius: 15px ;
    border-bottom-left-radius: 15px ;
    height: 45px;
}
.logo > i:nth-child(1) {
    font-size: 20px;
    margin: 15px;
}

.logo > i:nth-child(2) {
    font-size: 20px;
} 

.logo > img {
    height: 45px;
}

.d-flex > i {
    padding:0 25px 0 10px;
    font-size: 20px;
}

.sidebar > a:hover {
    background-color: rgba(128, 128, 128, 0.294);
    border-radius: 10px;
    width: 235px;
}

.sidebar_image > a:hover {
    background-color: rgba(128, 128, 128, 0.294);
    border: 10px;
}

.sidebar_image {
    padding-left: 5px;
}

a > img {
    border-radius: 10px;
}

.scroll-item {
    border-radius: 10px;
    border: none;
}
.video-menu {
    font-size: 22px;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
}

.videos {
    padding-top: 60px;
}
.videos > .row >.col-md-3 {
    width: 30%;
}
video{
    border-radius: 10px;
}
/*
.videos {
    .row {
        .col-md-3 {
            width: 30%;
        }
    }
}
*/
.scroll {
    position: fixed;
    top: 77px;
    left: 260px;
    background-color: white;

}


.nav-menu {
    position: fixed;
    overflow-y: scroll;
    left: 0;
    top: 80px;
    height: 91%;
    background-color: white;
    width: 260px;
}

span {
    display: inline-block;
    font-size: 15px;
    
}
.no-caret::after {
    display: none;
}

/* su dung chat gpt*/
::-webkit-scrollbar {
    width: 6px; /* Chiều rộng thanh cuộn dọc */
    height: 6px; /* Chiều cao thanh cuộn ngang */
  }
  
  /* Màu nền của thanh cuộn */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Màu và kiểu của thanh cuộn */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
  
  /* Khi hover vào thanh cuộn */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }